.navbar-brand img {
	width: 2em;
	height: 1.5em
}

.info img {
	width: 5em;
	height: 6em
}

.navbar {
	font-family: "Lucida Sans Unicode";
	letter-spacing: .12em;
}

#list_title {
	margin-top: 60px
}

.innerBody {
	background-color: firebrick;
}

body {
	background-color: #222;
}

#site-name {
	color: white;
	font-family: "Lucida Grande";
	word-spacing: 0.2em;
	letter-spacing: .12em;
}

p img {
	width: 2em;
	height: 2em;
}

.login-form {
	background-color: orange;
	margin-top: 60px;
	margin-bottom: 10px;
	padding: 10px;
	width: 50%;
	font-family: "Lucida Grande";
	font-size: 15px;

}

.login-input {
	margin: 10px;
}

.info {
	background-color: #222;
	color: white;
	padding: 15px;
	font-family: "Lucida Grande";
	font-size: 20px;
	letter-spacing: .1em
}

footer p {
	background-color: #222;
	padding: 20px;
	color: lightgrey;
	margin: 0;
	font-family: "Lucida Grande";
	word-spacing: 0.2em;
	letter-spacing: .19em;
	position: absolute;
	left: 35%;
}

aside {
	position: fixed;
}

#hiddenStuff {
	position:absolute;
	top:25%;
	left:10%;
}

.center {
	text-align: center;
}