.navbar-brand img {
	width: 2em;
	height: 1.5em
}

.navbar {
	font-family: "Lucida Sans Unicode";
	letter-spacing: .12em;
}

#list_title {
	margin-top: 60px
}

.innerBody {
	background-color: firebrick;
}

body {
	background-color: #222;
}

#site-name {
	color: white;
	font-family: "Lucida Grande";
	word-spacing: 0.2em;
	letter-spacing: .12em;
}

p img {
	width: 2em;
	height: 2em;
}

.info {
	background-color: #a8b9ff;
	color: white;
	padding: 15px;
}

.login-info {
	background-color: orange;
}

footer p {
	background-color: #222;
	padding: 20px;
	color: lightgrey;
	margin: 0;
	font-family: "Lucida Grande";
	word-spacing: 0.2em;
	letter-spacing: .19em;
}

aside {
	position: fixed;
}

#hiddenStuff {
	position:absolute;
	top:25%;
	left:10%;
}

.center {
	text-align: center;
}